<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base :: layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>


	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3 mb-3">

						<!-- print message -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text=" ${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')} "> </th:block>
							
						</div>

						<div class="container text-center">
							<img style="width: 100px;" src="" th:src=@{/img/register.png}
								alt="" class="src" />

						</div>

						<h1 class="lable text-center">Register Here</h1>

						<form action="" th:action="@{do_register} " method="post"
							th:object="${user}">

							<!-- name field -->
							<div class="mb-3">
								<label for="name_field"> Name </label> <input name="name"
									type="name" class="form-control" id="name_field"
									placeholder="Enter your name" required="required"
									th:value="${user.name}">
							</div>
							<!-- email field -->
							<div class="mb-3">
								<label for="email_field"> Email </label> <input name="email"
									type="email" class="form-control" id="email_field"
									placeholder="Enter your Email" required="required"
									th:value="${user.email}">
							</div>
							<!-- password password -->
							<div class="mb-3">
								<label for="password_field"> Password </label> <input
									name="password" type="password" class="form-control"
									id="password_field" placeholder="Enter your password"
									required="required">
							</div>

							<!-- user about field -->
							<div class="form-group mb-3">

								<textarea name="about" placeholder="Enter about Yourself..."
									rows="5" class="form-control" th:text="${user.about}"></textarea>
							</div>

							<!-- terms and conditions -->
							<div class="form-group form-check ">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement"> Accept terms
									and conditions</label>
							</div>

							<!-- button -->

							<div class="container text-left">
								<button class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">
									Reset</button>
							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>
</body>
</html>